{% extends 'admin/master.html' %}

{% block body %}
  <p></p>
  
<style>
	.container {width: 90%;}
	th, td {
	  padding: 4px;
	}
	table{
	  border: 1px solid light-grey;
	  border-collapse: collapse;
	  width: 100%;
	}
	th{
		background-color: #EFEFFF;
	}
	.scrollable {
	  background-color: #FFFFCC;
	  height: 300px;
	  overflow: auto;
	}

	.button-tool {
		border: 1px solid light-grey;
		border-radius: 4px;
		width:80px;
		height: 24px;
		background-color:#AAAACC;
		padding: 6px;
		text-align: center;
	}
	.block_container {
		background-color: #CCF7F7;
	}
</style>

<div class="block_container">

	<table class="head_table">
		<tr>
		<td id="server_time" width="30%"></td>
		<td id="live_can_list" width="30%"></td>
		</tr>
	</table>

	<table>
		<tr>
			{% for i in ('A', 'B', 'C') %}
			<th>
				<span class="label label-info" style="padding:6px;">{{ i }}</span>
				<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get platform info" 
							onclick="ask_platform_info('{{ i }}');"></span>
				<span class="glyphicon glyphicon-stats button-tool" title="push button to get temperature logs" 
							onclick="ask_temperature_logs('{{ i }}');"></span>
			</th>
			{% endfor %}
		</tr>
		<tr>
			{% for i in (0, 2, 4) %}
			<td><div class="scrollable" id="device:machine:status_{{ i }}"> {{ i }} </div> </td>
			{% endfor %}
		</tr>

		<tr>
			{% for i in ('F', 'E', 'D') %}
			<th>
				<span class="label label-info" style="padding:6px;">{{ i }}</span>
				<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get platform info" 
							onclick="ask_platform_info('{{ i }}');"></span>
				<span class="glyphicon glyphicon-stats button-tool" title="push button to get temperature logs" 
							onclick="ask_temperature_logs('{{ i }}');"></span>
			</th>
			{% endfor %}
		</tr>
		<tr>
			{% for i in (1, 3, 5) %}
			<td><div class ="scrollable" id="device:machine:status_{{ i }}"> {{ i }} </div> </td>
			{% endfor %}
		</tr>

	</table>
</div>
<div>
	<div id="ask_platform_answer"></div>
	<div><hr></hr></div>
	<div>
		<label>Current Language:</label> 
		<label id="current_language_label">{{ current_language }}</label>
		-
		<b> Change Language to: </b> 
		<input class="btn btn-primary" type="submit" value="ENGLISH" onclick="change_language('en');"></input>
		<input class="btn btn-primary" type="submit" value="ITALIAN" onclick="change_language('it');"></input>
		<input class="btn btn-primary" type="submit" value="KOREAN" onclick="change_language('kr');"></input>
		<input class="btn btn-primary" type="submit" value="GERMAN" onclick="change_language('de');"></input>
		<label>(WARN application will be restarted)</label>
	</div>
	<div><hr></hr></div>
	<table class="table-striped table-bordered">
	<tr>
		<th width="10%"></th><th width="30%">download </th><th width="40%" colspan="2">upload </th><th></th>
	</tr>
	<tr><form method="POST" action="/upload" enctype="multipart/form-data" id="upload_data_form">
		<td>
			<a href="{{ alfa40_admin_url }}" target="_blank">open alfa40_admin_url</a>
		</td>
		<td>
			<a class="btn btn-primary" href="/download?data_set_name=full_db">download supervisor db</a>
			<a class="btn btn-primary" href="/download?data_set_name=app_settings">download supervisor app_settings</a>
		</td>
		<td title="upload files: full db (.sqlite) or application settings (app_settings.py)">
			<label for="input_file">upload settings or full db</label>
			<input class="btn btn-primary" type="file" name="file" multiple="true" autocomplete="on" required id="input_file"></input>
		</td>
		<td>
			<input class="btn btn-primary" type="submit" value="upload"><img width="32px" src="static/images/upload.png"></img></input>
		</td>
		<td>
		</td>
	</form></tr>
	<tr>
		<td colspan="5">
			<span class="glyphicon glyphicon-wrench button-tool" onclick="toggle_element_visibility('manhole_commander');"></span>
			<div title="Beware: use it only if you know what you are doing." id="manhole_commander" style="visibility: hidden;">
				<span>Manhole commander (expert usage only):</span>
				<input type="text" size="40" id="debug_command" onkeydown="if(event.keyCode === 13) {send_debug_cmd()};"></input>
				<input type="submit" onclick="send_debug_cmd();"></input>
				<span id="debug_answer"></span>
			</div>
		</td>
	</tr>
	</table>
	<div><hr></hr></div>
</div>

<script>

	var g_ws_client = null;

	var toggle_element_visibility = function(el_id) {
		var el = document.getElementById(el_id); 
		if(el){
			if (el.style.visibility === "hidden") {
				el.style.visibility = "visible"; 
			} else {
				el.style.visibility = "hidden"; 
			}
		}
	}
	var send_debug_cmd = function() {
		var el = document.getElementById("debug_command"); 
		if((el) && (g_ws_client)){
			el.value;
			console.debug('send_debug_cmd(), el.value: ' + el.value); 
			g_ws_client.send(JSON.stringify({"debug_command": el.value}));
		}
	}

	var ask_temperature_logs = function(head_letter) {

		console.debug('ask_temperature_logs(), head_letter: ' + head_letter); 
		var cmd = {"command": 'ask_temperature_logs', 'params': {'head_letter': head_letter}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var ask_platform_info = function(head_letter) {

		console.debug('ask_platform_info(), head_letter: ' + head_letter); 
		var cmd = {"command": 'ask_platform_info', 'params': {'head_letter': head_letter}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var change_language = function(lang_) {

		var msg_ = "Confirm changing language to " + lang_ + "? WARN: Application will be restarted.";
		if (window.confirm(msg_)) {
			console.debug('change_language(), lang_: ' + lang_); 
			var cmd = {"command": 'change_language', 'params': {'lang': lang_}};
			cmd = JSON.stringify(cmd);
			g_ws_client.send(cmd);
		};
	};

	var on_wsocket_open = function(event) {
		console.debug('on_wsocket_open, event: ' + JSON.stringify(event)); 
	};
	var on_wsocket_close =  function(event) {
		console.log('on_wsocket_close, event: ' + JSON.stringify(event)); 
	};
	var on_wsocket_error = function(event) {
		console.log('on_wsocket_error, event: ' + JSON.stringify(event));
	};
	var on_wsocket_message = function(event) {
		var data = JSON.parse(event.data);
		var data_container_id = null;
		var el = document.getElementById(data.type); 
		if(el){
			el.innerHTML = data.value;
		}
		if (data.server_time) {
			var el1 = document.getElementById('server_time'); 
			if(el1){
				el1.innerHTML = data.server_time;
			}
		}
	};

	var connect_wsocket = function(ws_server_url) {
		console.log('connect_wsocket() ws_server_url:', ws_server_url)
		if ((g_ws_client === null) || (ws_client.readyState == 3)/* CLOSED */) {
			g_ws_client = new WebSocket(ws_server_url);
			g_ws_client.onerror = on_wsocket_error; 
			g_ws_client.onopen = on_wsocket_open;  
			g_ws_client.onclose = on_wsocket_close;
			g_ws_client.onmessage = on_wsocket_message;
		} else {
			if ((g_ws_client) && (g_ws_client.readyState == 1)/* OPEN */) {
				try {
				  g_ws_client.close(); 
				}
				catch(error) {
				  console.error(error);
				  g_ws_client = null;
				}
			}
		}
		console.log('connect_wsocket() g_ws_client:', g_ws_client)
	};

	connect_wsocket("ws://{{ ws_ip_addr_and_port }}/device:machine:status");

</script>

{% endblock %}
