{% extends 'admin/master.html' %}

{% block body %}
  <p></p>
  
<style>
	.container {width: 90%;}
	th, td {
	  padding: 4px;
	}
	table{
	  border: 1px solid light-grey;
	  border-collapse: collapse;
	  width: 100%;
	}
	th{
		background-color: #EFEFFF;
	}
	.scrollable {
	  background-color: #FFFFCC;
	  height: 300px;
	  overflow: auto;
	}

	.button-tool {
		border: 1px solid light-grey;
		border-radius: 4px;
		width:80px;
		height: 24px;
		background-color:#AAAACC;
		padding: 6px;
		text-align: center;
	}
	.block_container {
		background-color: #CCF7F7;
	}
	#message_display {
		background-color: #F7F766;
	}
</style>

<div class="block_container">

	<table class="head_table">
		<tr>
			<td id="server_time" width="30%"></td>
			<td id="live_can_list" width="30%"></td>
		</tr>
	</table>

	<table>
		<tr>
			{% for i in ('A', 'B', 'C') %}
			<th>
				<span class="label label-info" style="padding:6px;">{{ i }}</span>
				<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get platform info" 
							onclick="ask_platform_info('{{ i }}');"></span>
				<span class="glyphicon glyphicon-stats button-tool" title="push button to get temperature logs" 
							onclick="ask_temperature_logs('{{ i }}');"></span>
			</th>
			{% endfor %}
		</tr>
		<tr>
			{% for i in (0, 2, 4) %}
			<td><div class="scrollable" id="device:machine:status_{{ i }}"> {{ i }} </div> </td>
			{% endfor %}
		</tr>

		<tr>
			{% for i in ('F', 'E', 'D') %}
			<th>
				<span class="label label-info" style="padding:6px;">{{ i }}</span>
				<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get platform info" 
							onclick="ask_platform_info('{{ i }}');"></span>
				<span class="glyphicon glyphicon-stats button-tool" title="push button to get temperature logs" 
							onclick="ask_temperature_logs('{{ i }}');"></span>
			</th>
			{% endfor %}
		</tr>
		<tr>
			{% for i in (1, 3, 5) %}
			<td><div class ="scrollable" id="device:machine:status_{{ i }}"> {{ i }} </div> </td>
			{% endfor %}
		</tr>

	</table>
</div>

<div id="message_display" style="visibility: hidden;"></div>

<div>
	<div class="table-responsive">
		<table class="table-striped table-bordered table-hover model-list">
			<tr>
				<td title="upload formula files">
					<label>upload formula files</label>
					<form method="POST" action="/upload_formula_file" enctype="multipart/form-data" id="upload_formula_file_form">
						<input type="hidden" name="answer_type" value="html"></input>
						<input style="float:left;margin:4px;" class="btn btn-primary" type="file" name="file" multiple="true" autocomplete="on" required id="input_file"></input>
						<input style="float:left;margin:4px;" class="btn btn-primary" type="submit" value="upload">
						<img   style="float:left;margin:4px;" width="32px" src="static/images/upload.png"></img></input>
					</form>
				</td>
				<td title="upload files: full db (.sqlite) or application settings (app_settings.py)">
					<label for="input_file">upload:</label>
					<ul>
						{% if not in_docker %}
						<li>app settings (.py) or </li>
						<li>data and conf (.zip) or </li>
						{% else %}
						<li>data (.zip)</li>
						{% endif %}
						<li>logo image (.png) or </li>
						<li>pigment alias (.json) or </li>
						<li>full db (.sqlite)</li>
					</ul>
					<form method="POST" action="/upload" enctype="multipart/form-data" id="upload_data_form">
						<input style="float:left;margin:4px;" class="btn btn-primary" type="file" name="file" multiple="true" autocomplete="on" required id="input_file"></input>
						<input style="float:left;margin:4px;" class="btn btn-primary" type="submit" value="upload">
						<img   style="float:left;margin:4px;" width="32px" src="static/images/upload.png"></img></input>
					</form>
				</td>
				<td>
					<label>download:</label> <br/>
					{% if not in_docker %}
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=data_and_conf.zip"></a><span> data and conf (.zip)</span>	<br/> 
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=app_settings.py"></a>  <span> app settings (.py)</span>	<br/>
					{% else %}
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=data.zip"></a><span> data (.zip)</span>	<br/> 
					{% endif %}
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=log_and_tmp.zip"></a>  <span> log and tmp (.zip)</span>	<br/>
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=logo_image"></a> 		 <span> logo image</span> 			<br/>
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=last_label"></a> 		 <span> last label</span> 			<br/>
					<a class="glyphicon glyphicon-download button-tool" href="/download?data_set_name=head_events"></a>		 <span> head events</span>			<br/>
				</td>
			</tr>
			<tr>
				<td colspan="1">
					<span>show settings:</span>
					<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get settings" 
								onclick="ask_settings();"></span>
				</td>
				<td colspan="4">
					<div id="ask_settings_answer"></div>
				</td>
			</tr>
			<tr>
				<td colspan="1">
					<span>list formula files:</span>
					<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get formula file list." 
								onclick="ask_formula_files();"></span>
				</td>
				<td colspan="4">
					<div id="ask_formula_files_answer"></div>
				</td>
			</tr>
			<tr>
				<td colspan="1">
					<span>show aliases:</span>
					<span class="glyphicon glyphicon-info-sign button-tool" title="push button to get aliases" 
								onclick="ask_aliases();"></span>
				</td>
				<td colspan="4">
					<div id="ask_aliases_answer"></div>
				</td>
			</tr>
			<tr>
				<td colspan="5">
					<span class="glyphicon glyphicon-wrench button-tool" onclick="toggle_element_visibility('manhole_commander');"></span>
					<div title="Beware: use it only if you know what you are doing." id="manhole_commander" style="visibility: hidden;">
						<span>Manhole commander (expert usage only):</span>
						<input type="text" size="40" id="debug_command" onkeydown="if(event.keyCode === 13) {send_debug_cmd()};"></input>
						<input type="submit" onclick="send_debug_cmd();"></input>
						<span id="debug_answer"></span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div><hr></hr></div>
	<div id="ask_platform_answer"></div>
	<div><hr></hr></div>
	<div>
		<label>Current Language:</label> 
		<label id="current_language_label">{{ current_language }}</label>
		-
		<b> Change Language to: </b> 
		{% for k, v in language_map.items() %}
			<input class="btn btn-primary" type="submit" value="{{ k.upper() }}" onclick="change_language('{{ v }}');"></input>
		{% endfor %}
		<label>(WARN application will be restarted)</label>
	</div>
	<div><hr></hr></div>
	<div>
		<label>Refill Popup Settings</label>
		<span class="glyphicon glyphicon glyphicon-oil button-tool" title="" onclick="show_refill_settings_modal();"></span>
		<label>(WARN application will be restarted)</label>
	</div>
	<div id="refillSettingsModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h4 class="modal-title">Refill Popup Settings</h4>
			</div>
			<div class="modal-body">
			  <form id="refillSettingsForm">
				<div class="container-fluid">
				  <div class="row">
					<div class="col-md-6">
					  <div class="form-group">
						<label for="refill_choice_1">Refill choice 1</label>
						<input type="number" step="0.1" id="refill_choice_1" name="refill_choice_1" class="form-control"
							   value="{{ refill_choices[0] if refill_choices|length > 0 else 0 }}"
							   onblur="if(this.value===''){ this.value = 0; }">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="form-group">
						<label for="refill_choice_2">Refill choice 2</label>
						<input type="number" step="0.1" id="refill_choice_2" name="refill_choice_2" class="form-control"
							   value="{{ refill_choices[1] if refill_choices|length > 1 else 0 }}"
							   onblur="if(this.value===''){ this.value = 0; }">
					  </div>
					</div>
				  </div>
				  <div class="row">
					<div class="col-md-6">
					  <div class="form-group">
						<label for="refill_choice_3">Refill choice 3</label>
						<input type="number" step="0.1" id="refill_choice_3" name="refill_choice_3" class="form-control"
							   value="{{ refill_choices[2] if refill_choices|length > 2 else 0 }}"
							   onblur="if(this.value===''){ this.value = 0; }">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="form-group">
						<label for="refill_choice_4">Refill choice 4</label>
						<input type="number" step="0.1" id="refill_choice_4" name="refill_choice_4" class="form-control"
							   value="{{ refill_choices[3] if refill_choices|length > 3 else 0 }}"
							   onblur="if(this.value===''){ this.value = 0; }">
					  </div>
					</div>
				  </div>
				  <div class="row">
					<div class="col-md-6">
					  <div class="form-group">
						<label for="refill_choice_5">Refill choice 5</label>
						<input type="number" step="0.1" id="refill_choice_5" name="refill_choice_5" class="form-control"
							   value="{{ refill_choices[4] if refill_choices|length > 4 else 0 }}"
							   onblur="if(this.value===''){ this.value = 0; }">
					  </div>
					</div>
					<div class="col-md-6">
					  <div class="form-group">
						<label for="refill_choice_6">Refill choice 6</label>
						<input type="number" step="0.1" id="refill_choice_6" name="refill_choice_6" class="form-control"
							   value="{{ refill_choices[5] if refill_choices|length > 5 else 0 }}"
							   onblur="if(this.value===''){ this.value = 0; }">
					  </div>
					</div>
				  </div>
				</div>
			  </form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary" onclick="handleRefillChoicesSubmit()" data-dismiss="modal">Save</button>
			</div>
		  </div>
		</div>
	</div>
</div>

<script>

	var g_ws_client = null;

	var toggle_element_visibility = function(el_id) {
		var el = document.getElementById(el_id); 
		if(el){
			if (el.style.visibility === "hidden") {
				el.style.visibility = "visible"; 
			} else {
				el.style.visibility = "hidden"; 
			}
		}
	}

	var send_debug_cmd = function() {
		var el = document.getElementById("debug_command"); 
		if((el) && (g_ws_client)){
			el.value;
			console.debug('send_debug_cmd(), el.value: ' + el.value); 
			g_ws_client.send(JSON.stringify({"debug_command": el.value}));
		}
	}

	var ask_temperature_logs = function(head_letter) {

		console.debug('ask_temperature_logs(), head_letter: ' + head_letter); 
		var cmd = {"command": 'ask_temperature_logs', 'params': {'head_letter': head_letter}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var ask_platform_info = function(head_letter) {

		console.log('ask_platform_info(), head_letter: ' + head_letter); 
		var cmd = {"command": 'ask_platform_info', 'params': {'head_letter': head_letter}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var ask_settings = function() {

		console.log('ask_settings()'); 
		var cmd = {"command": 'ask_settings', 'params': {}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var ask_formula_files = function() {

		console.log('ask_formula_files()'); 
		var cmd = {"command": 'ask_formula_files', 'params': {}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var ask_aliases = function() {

		console.log('ask_aliases()'); 
		var cmd = {"command": 'ask_aliases', 'params': {}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var create_order_from_file = function(file_name) {

		console.log('create_order_from_file()'); 
		var cmd = {"command": 'create_order_from_file', 'params': {'file_name': file_name}};
		cmd = JSON.stringify(cmd);
		g_ws_client.send(cmd);
	};

	var change_language = function(lang_) {

		var msg_ = "Confirm changing language to " + lang_ + "? WARN: Application will be restarted.";
		if (window.confirm(msg_)) {
			console.debug('change_language(), lang_: ' + lang_); 
			var cmd = {"command": 'change_language', 'params': {'lang': lang_}};
			cmd = JSON.stringify(cmd);
			g_ws_client.send(cmd);
		};
	};

	var show_refill_settings_modal = function(){
		$('#refillSettingsModal').modal('show');
	}

	var handleRefillChoicesSubmit = function(choices) {
		var choices = [
			document.getElementById('refill_choice_1').value === "" ? 0 : parseFloat(document.getElementById('refill_choice_1').value),
			document.getElementById('refill_choice_2').value === "" ? 0 : parseFloat(document.getElementById('refill_choice_2').value),
			document.getElementById('refill_choice_3').value === "" ? 0 : parseFloat(document.getElementById('refill_choice_3').value),
			document.getElementById('refill_choice_4').value === "" ? 0 : parseFloat(document.getElementById('refill_choice_4').value),
			document.getElementById('refill_choice_5').value === "" ? 0 : parseFloat(document.getElementById('refill_choice_5').value),
			document.getElementById('refill_choice_6').value === "" ? 0 : parseFloat(document.getElementById('refill_choice_6').value)
		];
		var cmd = {"command": 'change_refill_popup_choices', 'params': {'refill_choices': choices}};
		console.debug(cmd);
		cmd = JSON.stringify(cmd);
		if (g_ws_client.readyState === WebSocket.OPEN) {
			g_ws_client.send(cmd);
		} else {
			alert('Websocket connection error! Try to refresh the page (F5) and submit again the Refill Choices');
		}
	};

	var on_wsocket_open = function(event) {
		console.debug('on_wsocket_open, event: ' + JSON.stringify(event)); 
	};
	var on_wsocket_close =  function(event) {
		console.log('on_wsocket_close, event: ' + JSON.stringify(event)); 
	};
	var on_wsocket_error = function(event) {
		console.log('on_wsocket_error, event: ' + JSON.stringify(event));
	};
	var on_wsocket_message = function(event) {
		var data = JSON.parse(event.data);
		var el = document.getElementById(data.type); 
		if(el){
			el.innerHTML = data.value;
			if (data.make_visible) { el.style.visibility = "visible"; }
		}
		if (data.server_time) {
			var el1 = document.getElementById('server_time'); 
			if(el1){
				el1.innerHTML = data.server_time;
			}
		}
	};

	var connect_wsocket = function(ws_server_url) {
		console.log('connect_wsocket() ws_server_url:', ws_server_url)
		if ((g_ws_client === null) || (ws_client.readyState == 3)/* CLOSED */) {
			g_ws_client = new WebSocket(ws_server_url);
			g_ws_client.onerror = on_wsocket_error; 
			g_ws_client.onopen = on_wsocket_open;  
			g_ws_client.onclose = on_wsocket_close;
			g_ws_client.onmessage = on_wsocket_message;
		} else {
			if ((g_ws_client) && (g_ws_client.readyState == 1)/* OPEN */) {
				try {
				  g_ws_client.close(); 
				}
				catch(error) {
				  console.error(error);
				  g_ws_client = null;
				}
			}
		}
		console.log('connect_wsocket() g_ws_client:', g_ws_client)
	};

	connect_wsocket("ws://{{ ws_ip_addr_and_port }}/device:machine:status");

</script>

{% endblock %}
