<!DOCTYPE html>
<html>
	<head>
		<title>Manual Index - Alfa_CRX</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="/static/admin/bootstrap/bootstrap3/swatch/default/bootstrap.min.css?v=3.3.5" rel="stylesheet">
		<link href="/static/admin/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
		<link href="/static/admin/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">

		<style>
		body {
			padding-top: 4px;
			text-align: center;
			font-size: 22px;
		}
		</style>
	</head>
	<body>
		{% for manual_id, name in manual_id_list %}
		{% if manual_id %}
		<p><a href="/manual/{{ manual_id }}">{{ name }}</a></p>
		{% else %}
		<h1>{{ name }}</h1>
		{% endif %}
		{% endfor %}
	<body>
<html>
