<!DOCTYPE HTML>
<html lang="{{ lang }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>alfa CRx UI</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='remote_ui/images/favicon.png') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='remote_ui/ui.css') }}"/>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='remote_ui/bootstrap.min.css') }}"/>
</head>

<body onclick="{window.scrollTo(0, 0);}">
	<div class="container-fluid">
		<div id="home_page" class="ui_page"></div>
		<div id="orders_page" class="ui_page"></div>
		<div id="browser_page" class="ui_page"></div>
		<div id="tools_page" class="ui_page"></div>
		<div id="help_page" class="ui_page"></div>
	</div>
	<div class="foot_frame">
		<div onclick="show_page('help_page');" class="home_page_btn" id="help_btn"></div>
		<div onclick="show_page('tools_page');" class="home_page_btn" id="tools_btn"></div>
		<div onclick="show_page('browser_page');" class="home_page_btn" id="browser_btn"></div>
		<div onclick="show_page('orders_page');" class="home_page_btn" id="orders_btn"></div>
		<div onclick="show_page('home_page');" class="home_page_btn" id="home_btn"></div>
	</div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='remote_ui/ui.js') }}"></script>
<script>
	init_ui("ws://{{ ws_ip_port }}/remote_ui");
</script>

</html>
