
<!DOCTYPE HTML>
<html>
    <head>
        <style> 
            body {font-size:16px;font-family:sans;text-align:center;} 
			input {font-size:18px;}
        </style>
    </head>

    <body>
        <div>{{time}} {{target}}</div>
        <br></br>
        <div>{{msg}}</div>
        <br></br>
        <div><input type='button' value='CANCEL' onclick='window.close();' style='position:absolute;bottom:20px;left:20px;height:56px;width:160px;'></input></div>
        <div><input type='button' value='OK' 	 onclick='window.close();' style='position:absolute;bottom:20px;right:20px;height:56px;width:160px;'></input></div>
    </body>

</html>
